
<!DOCTYPE html>
<html class="no-js"><!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>关于我们</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"> 
<meta name="copyright" content="Copyright 1999-2015 - 568615539">
<meta name="Author" content="old-Year">
<meta name="Robots" content="all">
<meta name="Keywords" content="关于我们,律师,商事案例,商事诉讼,房地产开发与建设,公司治理,银行与金融,城市更新改造,法律服务">
<meta name="Description" content="关于我们_只做复杂商事案例">
<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.5)">
<meta http-equiv="Page-Exit" content="blendTrans(Duration=0.5)">


<link rel="stylesheet" type="text/css" href="/css/style.css">

<script src="/js/jquery.js" type="text/javascript"></script>
<style>
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
</style>
</head>
<body>
<div class="content">
<!--logo开始-->
<a class="logo logofull1 logofull2 logoed" id="logo" href="/" title="有度"></a>
<!--logo介绍-->

<!--导航开始-->
<nav class="global-nav">
  <div class="global-nav-inner global-nav-innerin" id="opcin1">

    <h3 class="global-nav-title clearfix"> 
     
      <a class="global-nav-initializer white" id="nav" href="javascript:void(0)">
        <span class="line top"></span>
        <span class="line mid"></span>
        <span class="line bottom"></span>
      </a>
    </h3>
<ul class="global-nav-ul" id="menu-%e4%b8%bb%e8%8f%9c%e5%8d%95">
<li class="global-nav-item" id="menu-item-51"><a href="/" title="首页" class="global-nav-link">首页</a></li>
<li class="global-nav-item" id="menu-item-55"><a href="/a/1.aspx" title="大数据" class="global-nav-link">大数据</a></li>
<li class="global-nav-item" id="menu-item-60"><a href="/a/2.aspx" class="global-nav-link" title="可视化">可视化</a></li>
<li class="global-nav-item" id="menu-item-52"><a href="/a/3.aspx" class="global-nav-link" title="有度模拟法庭">有度模拟法庭</a></li>
<li class="global-nav-item" id="menu-item-53"><a href="/a/4.aspx" class="global-nav-link" title="案件流程化管理">案件流程化管理</a></li>
<li class="global-nav-item" id="menu-item-54"><a href="/a/5.aspx" class="global-nav-link" title="有度案例">有度案例</a></li>
<li class="global-nav-item" id="menu-item-50"><a href="/a/6.aspx" class="global-nav-link" title="关于有度">关于有度</a></li>

<li class="global-nav-item weixin"><div class="weixin-qrcode"></div></li></ul>  </div>
  <div class="bg"></div>
</nav>
<!--导航介绍-->

<!--banner开始-->
<div class="gytop" id="banner" style="">
<img src="/images/gytxt1.png" class="gyc_t1 gyc_t1ed" id="c_t1">
<img src="/images/gytxt2.png" class="gyc_t2 gyc_t2ed" id="c_t2">


<a style="display:none;" class="c_t5 c_t5ed" id="c_t5" href="#" title="立即预约">立即预约</a>
</div>
<!--banner结束-->
<div class="gy01">
  <div class="wrap">
    <div class="tt">有度商事诉讼团队</div>
    <div class="jj">我们致力成为全球商事诉讼的领军者，成为商事诉讼的超级劲旅是我们的愿景。它是行业的楷模，客户的终身事业伙伴，员工实现生命价值的舞台。</div>
  </div>
</div>
<div class="clear"></div>
<div class="gy02 bg-fixed stretch-bg"></div>

<div class="gy01">
  <div class="wrap">
    <div class="tt">相信人才 相信团队 </div>
    <div class="jj">我们信奉人才是一个团队最大的竞争力。有度从成立之日，就将人才储备计划作为自己的重中之重，从高薪招聘到合伙人晋升，从团队内训到外出学习，有度都秉承了人才就是竞争力的准则。团队价值观的高度认同、文化的高度契合、模拟法庭训练、大数据和可视化的强化学习及应用，使得这个团队无论是在理念上还是在技术上都走在了律师界的最前沿。没有优秀的个人，只有优秀的团队。我们期待优秀的出庭律师，我们期待优秀的合伙人。</div>
  </div>
</div>
<div class="clear"></div>
<div class="gy03 bg-fixed stretch-bg"></div>
<div class="gy01">
  <div class="wrap">
    <div class="tt">相信技术   发挥技术</div>
    <div class="jj">可视化、大数据、模拟法庭，作为有度的三大法宝，升级优化从未停止。针对具体案件，我们用大数据穷尽所有可能，用可视化在法庭上说服法官，用模拟法庭不断锤炼案件，发现细微，不断优化出庭策略。
</div>
  </div>
</div>
<div class="clear"></div>
<div class="gy04 bg-fixed stretch-bg"></div>
<div class="gy01">
  <div class="wrap">
    <div class="tt">相信法律  信仰法庭</div>
    <div class="jj">我们深知当下“诉讼”面临的尴尬和窘境，但我们深信，以匠人精神研习律法，本着严谨、审慎的专业精神，专注一案，因为我们相信技术、相信法律，我们信仰法庭。</div>
  </div>
</div>
<div class="clear"></div>




<div class="clear"></div>
<!--底部开始-->
<div class="footer">
    <div class="wrap">
       <div class="lx">
        <div class="l">版权所有 © 新疆巨臣律师事务所有度商事诉讼团队 <br />新ICP备16003384号-1</div>
        <div class="c">电　话：0991-4182650转8021 <br />
传　真：0991-4182651</div>
        <div class="r">E-mail：youdoteam@163.com<br />
地　址：新疆维吾尔自治区乌鲁木齐市昆仑路122号</div>
       </div>
       <div class="clear"></div>
       <div class="logo-s"><img src="/images/logo-s.png" alt="" /></div>
    </div>
</div>


<script src="/js/app.js" type="text/javascript"></script>
</body></html>