
<!DOCTYPE html>
<html>
 	<head>
 	 	<meta charset="utf-8" />
 	 	<title>iCourt - 让法律人与众不同</title> 	
 	 	<link rel="stylesheet" href="assets/css/style.css">
 	</head>
 	<body>
 	 	<header id="header">
 	 		<div class="wrap" flex="main:justify box:first;">
	 	 		<div id="logo"><a href="javascript:;" class="icon-icourt">iCourt</a></div>
	 	 		<div class="nav">
	 	 			<ul id="global-nav">
	 	 				<li><a href="javascript:;" id="nav2-event">足迹</a></li>
	 	 				<li><a href="javascript:;" id="nav2-product">产品</a></li>
	 	 				<li><a href="javascript:;" onclick="$(body).toggleClass('about')">关于</a></li>
	 	 			</ul>
	 	 			<ul id="product-nav">
						<li><a href="javascript:;" rel="1" id="show-product-core">核心能力</a></li>
						<li><a href="javascript:;" rel="2" id="show-product-alpha">Alpha</a></li>
						<li><a href="javascript:;" rel="3" id="show-product-team">团队宝</a></li>
					</ul>
	 	 		</div>
	 	 	</div>
	 	 	<a href="javascript:;" id="close-product" class="icon-close"></a>
 	 	</header>

 	 	<!-- Primary Section -->
 	 	<section id="primary">
 	 		<div id="products">
 	 			<div class="product" id="product-core">
 	 				<div class="intro">
 	 					<h2>与众不同的iCourt</h2>
		 				<div class="keywords">
		 					<ul flex="main:justify">
				 	 			<li>
				 	 				<strong>自由</strong>
				 	 				<i>Freedom</i>
				 	 			</li>
				 	 			<li>
				 	 				<strong>简单</strong>
				 	 				<i>Pure</i>
				 	 			</li>
				 	 			<li>
				 	 				<strong>平等</strong>
				 	 				<i>Equality</i>
				 	 			</li>
				 	 		</ul>
		 				</div>
		 				<div class="action">
							<a href="javascript:;" class="show-product" rel="1">了解核心能力体系</a>
	 	 				</div>
 	 				</div>
 	 				<div class="detail">
 	 					<div class="wrap">
	 	 					<div class="clip">
		 	 					<h2>法律人职场能力体系</h2>
		 	 					<ul>
		 	 						<li class="core-1">核心业务能力</li>
									<li class="core-2">市场开拓能力</li>
									<li class="core-3">法律新技术能力</li>
									<li class="core-4">必备技术</li>
									<li class="core-5">工具方法</li>
									<li class="core-6">获取资源</li>
									<li class="core-7">降低成本</li>
									<li class="core-8">提高效率</li>
									<li class="core-9">自身价值</li>
		 	 					</ul>
		 	 				</div>
		 	 				<canvas id="core-lines" width="800" height="400"></canvas>
		 	 				<div class="summary">
								作为一家与众不同的法学院，iCourt课程传递的不仅仅是知识，更是思维、技能与工具。在这里，刷新视界，重构法律人的职场能力体系；在这里，深度社交，跻身法律共同体的核心圈层。
							</div>
						</div>
	 	 			</div>
 	 			</div>
 	 			<div class="product" id="product-alpha">
 	 				<div class="intro">
 	 					<h2>技术驱动法律</h2>
		 				<div class="keywords">
		 					<ul flex="main:justify">
			 	 			<li>
			 	 				<strong>大数据</strong>
			 	 				<i>Big Data</i>
			 	 			</li>
			 	 			<li>
			 	 				<strong>可视化</strong>
			 	 				<i>Visualization</i>
			 	 			</li>
			 	 			<li>
			 	 				<strong>人工智能</strong>
			 	 				<i>Intelligence</i>
			 	 			</li>
			 	 		</ul>
		 				</div>
		 				<div class="action">
		 					<a href="javascript:;" class="show-product" rel="2">了解 Alpha</a>
		 				</div>
 	 				</div>
 	 				<div class="detail">
 	 					<div class="wrap">
 	 						<div class="clip">
 	 							<h2>不止律所管理系统</h2>
 	 							<div class="circles" id="circles">
							    <div class="circle"></div>
							    <div class="circle"></div>
							    <div class="circle"></div>
							    <div class="circle"></div>
							</div>
 	 						</div>
	 	 					<div class="summary">
								Alpha，集律所管理、法律大数据和专业服务为一体的智能办案系统，将可视化、大数据和人工智能三大前沿技术融入每一个模块，提高律师专业判断的准确度，实时反馈团队成员的参与度，增强客户享受法律服务的满意度。
							</div>
						</div>
 	 				</div>
 	 			</div>
 	 			<div class="product" id="product-team">
 	 				<div class="intro">
	 	 				<h2>人文成就团队</h2>
		 				<div class="keywords">
		 					<ul flex="main:justify">
			 	 			<li>
			 	 				<strong>学习</strong>
			 	 				<i>Learn</i>
			 	 			</li>
			 	 			<li>
			 	 				<strong>视野</strong>
			 	 				<i>Horizon</i>
			 	 			</li>
			 	 			<li>
			 	 				<strong>胸怀</strong>
			 	 				<i><div>Mind</div></i>
			 	 			</li>
			 	 		</ul>
		 				</div>
		 				<div class="action">
		 					<a href="javascript:;" class="show-product" rel="3">了解团队宝</a>
		 				</div>
		 			</div>
		 			<div class="detail">
		 				<div class="wrap">
		 					<div class="clip">
		 						<h2>痴迷于团队、执着于传承</h2>
		 						<ul>
		 	 						<li class="team-1">战略</li>
									<li class="team-2">组织</li>
									<li class="team-3">定位</li>
									<li class="team-4">市场</li>
									<li class="team-5">招聘</li>
									<li class="team-6">软件</li>
		 	 					</ul>
		 					</div>
			 				<div class="summary">
		 						单枪匹马闯世界的时代已然结束，团队才是律所传承的基础，团队宝为您量身定制团队建设与发展方案，从组织架构到薪酬制度，从人才招聘到团队建设，从产品研发到品牌推广，全面帮助律师打造梦之队。
		 					</div>
		 				</div>
		 			</div>
 	 			</div>
 	 		</div>
 	 	</section>

 	 	<!-- Video -->
 	 	<section id="videos">
 	 		<div id="cinema">
 	 			<span id="close-video" class="icon-close"></span>
 	 			<div class="wrap">
 	 				<div id="usa-video-1"></div>
 	 				<div id="usa-video-2"></div>
 	 			</div>
 	 		</div>
 	 		<div class="wrap">
	 	 		<div class="video-list">
	 	 			<a href="javascript:;" class="video-thumb video-thumb-01" rel="1">
	 	 				<span class="title">
		 	 				<i>iCourt 美国行</i>
	 	 					<strong>视野</strong>
	 	 				</span>
	 	 			</a>
	 	 			<a href="javascript:;" class="video-thumb video-thumb-02" rel="2">
	 	 				<span class="title">
		 	 				<i>iCourt 美国行</i>
	 	 					<strong>文化</strong>
	 	 				</span>
	 	 			</a>
	 	 		</div>
 	 		</div>
 	 		<div class="video-summary">“我们向彼岸出发是为了回归此岸，我们探寻他者是为了反诸己身”</div>
 	 	</section>

 	 	<section id="event">
 	 		<ul id="event-photos"></ul>
 	 		<div class="wrap">
 	 			<ul id="event-buttons" flex="main:justify box:mean">
 	 				<li rel="1"><strong>产品</strong>大事记</li>
 	 				<li rel="2"><strong>团队</strong>大事记</li>
 	 				<li rel="3"><strong>校友</strong>大事记</li>
 	 			</ul>
 	 		</div>
			<div class="event-detail" id="event-detail-1" rel='1'>
				<a href="javascript:;" class="close icon-close"></a>
				<a href="javascript:;" class="prev icon-arrow-left"></a>
				<a href="javascript:;" class="next icon-arrow-right"></a>
				<div class="wrap">
					<div class="event-timeline" id="timeline-1" rel="0">
						<ul>
							<li><i>2013.05.11</i><p>第一期可视化集训营——一图胜千言。</p></li>
							<li><i>2013.11.09</i><p>第一期出庭集训营——如何说服法官。</p></li>
							<li><i>2014.03.08</i><p>第一期谈判集训营——获得更多回报。</p></li>
							<li><i>2014.05.10</i><p>第一期iMBA集训营——管理创造价值。</p></li>
							<li><i>2014.06.14</i><p>第一期证据集训营——法庭之上证据为王。</p></li>
							<li><i>2014.10.25</i><p>第一期大数据集训营——变革时代弯道超车 。</p></li>
							<li><i>2014.11.08</i><p>第一期演讲集训营——让世界听懂你。</p></li>
							<li><i>2015.01.24</i><p>第一期写作集训营——每一个文字都超出预期。</p></li>
							<li><i>2015.05.23</i><p>第一期心理学集训营——法律人的读心术。</p></li>
							<li><i>2015.06.13</i><p>第一期iMAC集训营——重新定义律师工作方式。</p></li>
							<li><i>2015.07.04</i><p>第一期法律逻辑集训营——律师与法官的共鸣路径 。</p></li>
							<li><i>2015.09.27</i><p>第一期美国行——见识比知识更重要。</p></li>
							<li><i>2015.10.17</i><p>第一期合同审查集训营——交易的理想模型。</p></li>
							<li><i>2016.09.01</i><p>Alpha时代到来——为校友打造智能时代的全新工作方式。</p></li>
							<li><i>2016.09.25</i><p>第一期欧洲行——探寻法律人背后的文化基因。</p></li>
							<li><i>2016.12.12</i><p>团队宝一周年——我们每天都在陪伴校友的律所发展与百年传承。</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="event-detail" id="event-detail-2" rel='2'>
				<a href="javascript:;" class="close icon-close"></a>
				<a href="javascript:;" class="prev icon-arrow-left"></a>
				<a href="javascript:;" class="next icon-arrow-right"></a>
				<div class="wrap">
					<div class="event-timeline" id="timeline-2" rel="0">
						<ul>
							<li><i>2014.01.01</i><p>iCourt正式启航，一家与众不同的法学院诞生，iCourt创始合伙人：胡清平、采那、诺诺多。 </p></li>
							<li><i>2015.01.03</i><p>iCourt第一次年会，雪乡，团队6人： 胡清平、采那、诺诺多、张春晓、薛莉、张萌。</p></li>
							<li><i>2015.08.08</i><p>iCourt第一次产品年会，所有的老师和产品经理来到海拔5000米的纳木错，我们怀抱虔诚的初心，极致的追求，以给校友奉献最好的课程。</p></li>
							<li><i>2015.12.30</i><p>iCourt第二次年会，团队20人在美丽的大理许下了2016年的愿望，校长说，创业第三年要一路狂奔。</p></li>
							<li><i>2016.01.04</i><p>iCourt第一栋办公楼，晋商博物馆。 </p></li>
							<li><i>2016年</i><p>iCourt开启了校园招聘。我们用法律界最高的新人薪资和改变法律界的伟大愿景，选拔了一批“自我驱动、极度自信、绝顶聪明”的未来合伙人。</p></li>
							<li><i>2016.05.11</i><p>iCourt团队和老师在新的办公楼举行可视化三周年庆典。创业维艰，iCourt始终不忘初心。</p></li>
							<li><i>2016.09.07</i><p>iCourt第二次产品年会，在敦煌和老师们讨论课程如何嵌进阿尔法，我们能以更快的速度让更多人受益，共同期待iCourt2.0时代的到来，让视野无际，在沙漠开花。</p></li>
							<li><i>2016年</i><p>iCourt合伙人团队由三位创始人变成五位合伙人，郑玮是第一门课程可视化集训营的老师，王储是内部培养的第一位合伙人。iCourt橙员里，只有合伙人和未来合伙人。</p></li>
							<li><i>2016年</i><p>iCourt招募了一批顶尖的计算机工程师，他们用一行行的代码构筑了技术驱动法律的新世界，他们将和法律人一起开创中国法律科技的元年。</p></li>
							<li><i>2017.01.03</i><p>iCourt搬进晋商博物馆4A楼一周年，从20人到60人，从“一路狂奔”到“合众为一”，60人的合一，法律人和工程师的合一，线上和线下的合一。</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="event-detail" id="event-detail-3" rel='3'>
				<a href="javascript:;" class="close icon-close"></a>
				<a href="javascript:;" class="prev icon-arrow-left"></a>
				<a href="javascript:;" class="next icon-arrow-right"></a>
				<div class="wrap">
					<div class="event-timeline" id="timeline-3" rel="0">
						<ul>
							<li><i>2014.03.22</i><p>iCourt第一次走进企业——阿里巴巴法务部，之后我们去了百度法务部、华润法务部、特斯拉法务部、小米法务部。 </p></li>
							<li><i>2014.04.13</i><p>iCourt第一个校友会——长沙校友会成立，每周都有各地校友自发组织分享交流活动。 </p></li>
							<li><i>2014.09.27</i><p>iCourt第一个专业私董会成立——知识产权私董会成立，每个专业领域的律师建立起共享合作平台。 </p></li>
							<li><i>2015.06.24</i><p>iCourt第一次走进法院——东莞第二人民法院，之后我们去了北京高院、上海高院、广东高院、江苏高院、吉林高院等。 </p></li>
							<li><i>2015.07.11</i><p>iCourt第一次公开课——兰州站，全国每个省都举办过公开课，几万名律师来过iCourt课堂。 </p></li>
							<li><i>2016.03.19</i><p>iCourt律所主任年会——长沙站，第六届律所主任年会从每年一届变成每个月一期，上千名律所主任参加过主任年会。</p></li>
							<li><i>2016.10.28</i><p>iCourt第一次走进检察院——全新的定制化刑事内容，为职业共同体的技术融合又迈出了新的一步。</p></li>
							<li><i>李娟娟</i><p>iCourt年龄最大的校友——她来自广东，已经70岁，不仅来上课，还参加了14天的美国行，她说在律师道路上永远要追求梦想。</p></li>
							<li><i>魏存仪</i><p>iCourt第一位上完12门课程的校友——他来自兰州，第一批“团队宝”，第一批“匠心”，他骄傲的说：iCourt是他唯一上过的法学院。</p></li>
							<li><i>李泳霄</i><p>iCourt第一位来自新疆的校友——他运用在iCourt学到的所有技术打造了一支强大的有度商事诉讼团队。2016年，每十名新疆律师，就有一位是iCourt校友，新疆成为2017愿景的第一站。</p></li>
						</ul>
					</div>
				</div>
			</div>
 	 	</section>

 	 	<section id="footer">
 	 		<div class="wrap" flex="main:justify box:justify">
 	 			<div class="qrcode">
 	 				<img id="fsoo-code" src="assets/images/qrcode.png" alt="法秀" />
 	 			</div>
 	 			<ul class="fsoo-article">
 	 				<li><a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MjM5MDA2MTEwMA==&mid=504416961&idx=1&sn=cf900dfd9ab582b60f71ce246b39b0de&chksm=3daeed820ad964943bc7a101cb60c0c0920bfd6ab9a66d2529a74178579b4db9ac78142cdb8a&mpshare=1&scene=1&srcid=0105nVbsmB0qPz1iIlLeHYHH&key=de9885d92edfb0d74433d301337a9f79b04ea13a30bb079a53c8ae7c92b943baee65b2fe7d50fdcb17188da642a8df54ad6cb4945b679ea8828ae90fa264d9561145f16159d59c03b0de13211465efec&ascene=0&uin=MTAyMTU5&devicetype=iMac+MacBookPro13%2C3+OSX+OSX+10.12.2+build(16C67)&version=12010210&nettype=WIFI&fontScale=100&pass_ticket=ZEklw8J1BnybfGAZST8ZrPAAVipRpbkHRAvkoEiF5Ns%3D">iCourt：唯有文化生生不息</a></li>
 	 				<li><a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MjM5MDA2MTEwMA==&mid=504416720&idx=1&sn=7693f8d8a8a7c7738db361e2e2e1bf4c&chksm=3daeee930ad96785c1270228603706bab64a1ba519c998280b9e3f8dba9761a350651e4be9cf&mpshare=1&scene=1&srcid=0105x3NqHV6XzIbkfgvcvA6A&key=de9885d92edfb0d769839a29c475e5492dae2501e368d16f57ac8417bbe0373e36f4774b91d61e24fd88e47a6b0426f7b7bc8847a7ecd559ae9b9fc8a389e2c03f88be7e64292015021bc77922d14b56&ascene=0&uin=MTAyMTU5&devicetype=iMac+MacBookPro13%2C3+OSX+OSX+10.12.2+build(16C67)&version=12010210&nettype=WIFI&fontScale=100&pass_ticket=ZEklw8J1BnybfGAZST8ZrPAAVipRpbkHRAvkoEiF5Ns%3D">iCourt能力清单：每一篇都值得收藏</a></li>
 	 				<li><a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MjM5MDA2MTEwMA==&mid=504416723&idx=1&sn=2b66a47c7ac7a70c960e5c99d9dc0cf9&chksm=3daeee900ad96786116d486ec7c2db85cc27c10a635167c17240713309a7e949f768a518b657&mpshare=1&scene=1&srcid=0105wQW2YtwbVnNfqvRC5M9l&key=5134ab1cc362a0321a6b3bed91f5044439ec4fb24231be093ad407f402dc0118e379e86c04fb8e546376fdaffc00928c4112dba822d394b334c506cd90636a08fae3a2137015703299511a065c1cc2ae&ascene=0&uin=MTAyMTU5&devicetype=iMac+MacBookPro13%2C3+OSX+OSX+10.12.2+build(16C67)&version=12010210&nettype=WIFI&fontScale=100&pass_ticket=ZEklw8J1BnybfGAZST8ZrPAAVipRpbkHRAvkoEiF5Ns%3D">iCourt校友故事：激励每一位法律人</a></li>
					<li><a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MjM5MDA2MTEwMA==&mid=504416725&idx=1&sn=637d4fa7398befd8071c1e1de751a5f2&chksm=3daeee960ad96780ff64f9c5ee525048590a2faafac3b70741a3cbf7b13ae0e9ae63e0e42377&mpshare=1&scene=1&srcid=0105akhdZUuLmIZKLW7LaBiG&key=a226a081696afed015c190f46972146ccedb77ec02c3bb4c5b5979442706416a38ceb9d97cf9b8b06d038f4c524206262fb3a91ff904a205bfda7c590ddd26c15f0b4ba9db87723aece733d51b2f0236&ascene=0&uin=MTAyMTU5&devicetype=iMac+MacBookPro13%2C3+OSX+OSX+10.12.2+build(16C67)&version=12010210&nettype=WIFI&fontScale=100&pass_ticket=ZEklw8J1BnybfGAZST8ZrPAAVipRpbkHRAvkoEiF5Ns%3D">iCourt律所管理：强所发展全攻略</a></li>
					<li><a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MjM5MDA2MTEwMA==&mid=504417613&idx=1&sn=768151774ed98231cc227da85b27bcd8&chksm=3daeea0e0ad96318d9bd26b92eddd0c45b505f10708edb12ebd50b56514ae6f96717e48c4181&mpshare=1&scene=1&srcid=0221vCvCb8QaWw4rXbGVsDOd&key=e6258e13ab7be6a36d9a904864778c17f90f69ae660d677aa2b9b810611304ad989e28e6dde01866e6972bb6abaab4ef935aee37aadc5a90a8e3a7f1fa54c02551b01cdc9961fe219a1c3b58d8610aa5&ascene=0&uin=MTAyMTU5&devicetype=iMac+MacBookPro13%2C3+OSX+OSX+10.12.3+build(16D32)&version=12020001&nettype=WIFI&fontScale=100&pass_ticket=vf85%2BQWNrU%2FEscDSFFjl1cVJB95k0CPvDXH6ZyRwxbY%3D">2017，让律师团队真正加速成长</a></li>
 	 			</ul>
 	 			<ul class="contact">
	 	 			<li>
	 	 				<label>电话：</label>010-57105619
	 	 			</li>
	 	 			<li>
	 	 				<label>邮箱：</label><a href="mialto:icourt@icourt.cc">icourt@icourt.cc</a>
	 	 			</li>
	 	 			<li>
	 	 				<label>地址：</label>北京市朝阳区建国路58号4A座
	 	 			</li>
	 	 			<li>
	 	 				<a target="_blank" class="guide" href="https://mp.weixin.qq.com/s?__biz=MjM5MDA2MTEwMA==&mid=2651899902&idx=2&sn=98b3fa54fc81814c02f051a20629b2dd&chksm=bdaee0bd8ad969ab9c0b89b4b32569148c8bbfed39e24da9258c3ec519c416ddd6b44c2c135c&mpshare=1&scene=1&srcid=1008dMZToaL0pQQF0EuvFSMe&key=9ed31d4918c154c88b2d83790c1041956daf57d21f9edb1f089eadfc9f692bf0a93f83efaab1d3892810b95b7f4ef442cd0077c68296292870146d3dff6d3abd6373d925d17b1828719b50a6d0bee02c&ascene=0&uin=MTI4MzY0MjgyMA%3D%3D&devicetype=iMac+MacBookAir7%2C1+OSX+OSX+10.11.3+build(15D21)&version=11020201&pass_ticket=Tiqwkx9tgTLbMc6ixfXiBxntsDfiPdmbVrQSD5V1xX6Dynn8CQkAKRSWlxAE144c">路线指引</a>
	 	 			</li>
	 	 		</ul>
	 	 		<ul class="footmenu">
	 	 			<li class="job"><a href="https://mp.weixin.qq.com/s?__biz=MjM5MDA2MTEwMA==&mid=2651901172&idx=1&sn=95ba8850705227df66438459cfd04d32&chksm=bdaeebb78ad962a1c8b9eca3c80411a0792944ae39ef65c4e5858673e853d0c7777036ac6c81&mpshare=1&scene=1&srcid=0204wvhZJvekgC5aL3wtWYHQ&key=990de978484973e602671b77106cb3e54fdf3a4464c894817aa15524e3c28279f404c17f6a6b31e4c996b365f22deca783b1b11fd594c9adbca6beeb5af7b10cc34af59184f61fefde54e4cae5d4481a&ascene=0&uin=MTAyMTU5&devicetype=iMac+MacBookPro13%2C3+OSX+OSX+10.12.3+build(16D32)&version=12020001&nettype=WIFI&fontScale=100&pass_ticket=vf85%2BQWNrU%2FEscDSFFjl1cVJB95k0CPvDXH6ZyRwxbY%3D" target="_blank">&rarr; 加入 iCourt</a></li>
	 	 			<li class="job-subtitle">这里用法律和科技改变世界</li>
	 	 		</ul>
 	 		</div>
 	 	</section>
 	 	<section id="about-icourt">
 	 		<div class="wrap">
 	 			<h2><strong>iCourt</strong>，让法律人与众不同</h2>
				<p>iCourt（北京新橙科技有限公司）从2013年底开始创业，至今已有8000多名法律人走进iCourt法学院，他们中有律师、法官、法务、检察官、法学院老师，怀着共同的理念相聚于此，研习技能、开阔视野、交流合作，通过没有围墙的课堂连接在一起，成为真正的法律共同体。这个数字，每一天都在快速增长。</p>
				<h2><strong>核心能力</strong>：技术派律师必备技能</h2>
				<p>iCourt 提供一系列法律人终身受益的思维技能课程，包括法律人的核心业务能力、市场开拓能力和法律新技术能力，目前核心业务能力的课程包括出庭、证据、写作、法律逻辑、合同审查、法律顾问、尽职调查、诉讼逆转；市场开拓能力课程包括谈判、心理学、演讲、客户管理；法律新科技能力课程包括可视化、大数据、iMac。</p>
				<p>通过体系化学习，将掌握领先的思维方式和执业技能，极大提升工作效率和效果；同时还将获得先进的工作设备、便捷的软件工具、终身的复课学习机会和超值的升级体验。</p>
				<p class="image"><img class="about-course" src="assets/images/about-course.png" alt="iCourt课程"/></p>
				<h2><strong>Alpha（阿尔法）</strong>：最智能的律师工作系统</h2>
				Alpha是一套集律所管理、法律大数据和专业服务为一体的智能办案系统。Alpha包括合案件管理、文档管理、客户管理三大律师工作核心模块，将可视化、大数据和人工智能三大前沿技术融入每一个模块，提高律师专业判断的准确度，实时反馈团队成员的参与度，增强客户享受法律服务的满意度。</p>
				<p>Alpha是律师团队的新成员，TA聪明、勤奋、忠心、贴心，使用Alpha管理团队和办理案件将极大提高法律人的工作效率和效能。</p>
				<h2><strong>管理咨询</strong>：帮助律所打造可传承的团队</h2>
				<p>单枪匹马闯世界的时代已然结束，团队才是律所传承的基础。iCourt管理咨询服务根据用户的业务、地域、发展阶段、人员构成等特点，提供一对一定制化管理咨询服务，量身定制团队建设与发展方案，从组织架构到薪酬制度的设计，从人才招聘到团队建设，从产品研发到品牌推广，全面帮助律师打造梦之队。</p>
				<h2><strong>iCourt已成为法律职业共同体的最佳学习平台</strong></h2>
 				<ul>
					<li>iCourt已走进北京高院、上海高院、广东高院、江苏高院、吉林高院等各地法院，走进阿里巴巴、百度、华润等数十家企业法务部，走进清华、北大、人大、法大、华政、武大、吉大、西政等几十家法学院。</li>
					<li>iCourt公开课，已走遍全国32个省的几百个城市，将法律新思维、新技能和新工具传达给了近十万名法律人，成为法律实务界的盛会。</li>
					<li>iCourt律所主任年会和合伙人私董会，已聚集1000多家律所的管理者，共同探讨律所发展的战略、薪酬和文化。</li>
				</ul>
 				<p>追求技术、信赖法庭，才能为法律职业带来价值与尊荣。</p>
				<p>共享与连接将改变时代；而您与我们的努力，将推动改变发生。</p>
				<p>来到iCourt，您不必独自前行，我们将陪伴您执业升级的每一步。</p>
				<p class="image"><img class="about-team" src="assets/images/about-team.jpg" alt="iCourt课程"/></p>
				<h2 class="job">&rarr; <a href="https://mp.weixin.qq.com/s?__biz=MjM5MDA2MTEwMA==&mid=2651901172&idx=1&sn=95ba8850705227df66438459cfd04d32&chksm=bdaeebb78ad962a1c8b9eca3c80411a0792944ae39ef65c4e5858673e853d0c7777036ac6c81&mpshare=1&scene=1&srcid=0204wvhZJvekgC5aL3wtWYHQ&key=990de978484973e602671b77106cb3e54fdf3a4464c894817aa15524e3c28279f404c17f6a6b31e4c996b365f22deca783b1b11fd594c9adbca6beeb5af7b10cc34af59184f61fefde54e4cae5d4481a&ascene=0&uin=MTAyMTU5&devicetype=iMac+MacBookPro13%2C3+OSX+OSX+10.12.3+build(16D32)&version=12020001&nettype=WIFI&fontScale=100&pass_ticket=vf85%2BQWNrU%2FEscDSFFjl1cVJB95k0CPvDXH6ZyRwxbY%3D" target="_blank"><strong>加入 iCourt：这里用法律和科技改变世界</strong></a></h2>
			</div>
 	 	</section>
 	 	<script type="text/javascript" src="assets/js/app-min.js"></script>
		<script type="text/javascript" src="http://imgcache.qq.com/tencentvideo_v1/tvp/js/tvp.player_v2_jq.js"></script>
		<script type="text/javascript">
	    lightbox.option({
	      'resizeDuration': 100,
	      'wrapAround': true,
	      'disableScrolling': true,
	      'imageFadeDuration': 300,
	      'maxWidth': 960
	    })
	</script>
 	</body>
</html>

