
<!DOCTYPE html>
<html  manifest="/cache.manifest">

<head>
	<title>Todoist</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >

    <meta name="theme-color" content="#c24f3d">

    <meta property="og:image" content="https://d2dq6e731uoz0t.cloudfront.net/968d99236e2536919d6d14ca13d25930/as/Todoist.jpg"/>
    <meta property="og:image:secure_url" content="https://d2dq6e731uoz0t.cloudfront.net/968d99236e2536919d6d14ca13d25930/as/Todoist.jpg" />

    <link rel="icon" sizes="192x192" type="image/png" href="https://d3ptyyxy2at9ui.cloudfront.net/d2043167d727a78186d9f8e734590f5a.png" />
    <link rel="mask-icon" href="https://d3ptyyxy2at9ui.cloudfront.net/4cb109aad577b76481947bf3bcf34feb.svg" color="#e44332">
    <link rel="apple-touch-icon" href="https://d3ptyyxy2at9ui.cloudfront.net/bab0a0c4b1c3135a24bd0518417b66e3.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="canonical" href="https://todoist.com/app" />
<link rel="alternate" hreflang="x-default" href="https://todoist.com/app" />
<link rel="alternate" hreflang="da" href="https://da.todoist.com/app" />
<link rel="alternate" hreflang="en" href="https://en.todoist.com/app" />
<link rel="alternate" hreflang="de" href="https://de.todoist.com/app" />
<link rel="alternate" hreflang="es" href="https://es.todoist.com/app" />
<link rel="alternate" hreflang="fi" href="https://fi.todoist.com/app" />
<link rel="alternate" hreflang="fr" href="https://fr.todoist.com/app" />
<link rel="alternate" hreflang="it" href="https://it.todoist.com/app" />
<link rel="alternate" hreflang="nl" href="https://nl.todoist.com/app" />
<link rel="alternate" hreflang="nb" href="https://nb.todoist.com/app" />
<link rel="alternate" hreflang="pt-BR" href="https://ptBR.todoist.com/app" />
<link rel="alternate" hreflang="pl" href="https://pl.todoist.com/app" />
<link rel="alternate" hreflang="ru" href="https://ru.todoist.com/app" />
<link rel="alternate" hreflang="tr" href="https://tr.todoist.com/app" />
<link rel="alternate" hreflang="sv" href="https://sv.todoist.com/app" />
<link rel="alternate" hreflang="zh-TW" href="https://zhTW.todoist.com/app" />
<link rel="alternate" hreflang="zh-CN" href="https://zhCN.todoist.com/app" />
<link rel="alternate" hreflang="ko" href="https://ko.todoist.com/app" />
<link rel="alternate" hreflang="ja" href="https://ja.todoist.com/app" />

        <script>
            LANG = 'en';
        </script>

	

	

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5309378-4', { 'userId': '14481555' });
ga('send', 'pageview');
</script>

	

    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0" />

        <!--<script src="https://d3ptyyxy2at9ui.cloudfront.net/3a668e43eb37dfde0a00195824418aa4.js.jgz"></script>
-->
        <script>
            (function() {
                var ravenConfig = {
                    release: "2620ab979ba14485aad3c27b6c38fee6",

                    whitelistUrls: [
                        /https?:\/\/(\w+\.)?todoist\.com/,
                        /https?:\/\/d3ptyyxy2at9ui\.cloudfront\.net/,
                    ]
                };

                Raven.config("https://67c8a881d7454dffbccb3c5dd7ba32e1@sentry.todoist.net/19", ravenConfig).install();

                Raven.setUserContext({
                    id: 14481555,
                    email: "yang756260386@gmail.com"
                });
            })();
        </script>
<!--
		<script type="text/javascript" src="https://d3ptyyxy2at9ui.cloudfront.net/c47a0c60c4fa195094f20104b8fa7353.js.jgz" ></script>

    <script type="text/javascript" src="https://d3ptyyxy2at9ui.cloudfront.net/746e9afc452126831b3abff1c2546d8d.js.jgz" ></script>
    
<script type="text/javascript" src="https://d3ptyyxy2at9ui.cloudfront.net/4d9d80078e46aaf9a4afda28359d1c1d.js.jgz" ></script>
<script type="text/javascript" src="https://d3ptyyxy2at9ui.cloudfront.net/4cfb9e0d09dab4efce60fc205d35482e.js.jgz" ></script>
<script type="text/javascript" src="https://d3ptyyxy2at9ui.cloudfront.net/dfd4b1caead2e2a7434e617c4be608a2.js.jgz" ></script>
<script type="text/javascript" src="https://d3ptyyxy2at9ui.cloudfront.net/5ead877455548c025c1c61e739d10009.js.jgz" ></script>
-->
    <script>
        window.VERSION = 881;

    </script>






	

    
</head>

<body>










<div id="loading">
    <center>
        <p id="loading_holder"></p>
    </center>
</div>

<script type="text/javascript">
    Loading.show();
    $add($('loading_holder'), Indicator.cssSpinner());
</script>


<div id="todoist_app"></div>

<link rel="stylesheet" type="text/css" href="https://d3ptyyxy2at9ui.cloudfront.net/8caed67582c65411222f8265fdeaca5c.css.cgz" media="all" />
<link rel="stylesheet" type="text/css" href="https://d3ptyyxy2at9ui.cloudfront.net/352f564a1cb7461d1f14d2ee5bc5b595.css.cgz" media="all" />
<link rel="stylesheet" type="text/css" href="https://d3ptyyxy2at9ui.cloudfront.net/e0d4093fb6cfb96746cb6f51095d3096.css.cgz" media="all" />
<link rel="stylesheet" type="text/css" href="https://d3ptyyxy2at9ui.cloudfront.net/ed91acc4427941686430bf732b507f7f.css.cgz" media="all" />

<script type="text/javascript">
    initTodoist({
        smartScheduleDomain: "ai.todoist.com",
        version: 881,
        isBeta: false
    });
    window.focus();
</script>

<link rel="stylesheet" type="text/css" href="https://d3ptyyxy2at9ui.cloudfront.net/ab1edab45fe510a75adcc0bd405df905.css.cgz" media="print" />




<script>
    CLIENT_ID = '_td_' + (new Date).getTime();
</script>
<iframe style="width:0px; height:0px; border: 0px; position: absolute;" src="/API/Comet/getIFrame?channel=user-14481555-72481184edc4755519c08233ff0bae3dbd96fcce&r=3554"></iframe>

</body>

</html>


 





