
<!DOCTYPE html>
<html class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>有度-新疆巨臣律师事务所有度商事诉讼团队</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">  
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"> 

<meta name="Keywords" content="有度,新疆巨臣律师事务所有度商事诉讼团队">
<meta name="Description" content="新疆巨臣律师事务所有度商事诉讼团队">
<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.5)">
<meta http-equiv="Page-Exit" content="blendTrans(Duration=0.5)">
<script src="http://www.youdoteam.com/js/jquery.js" type="text/javascript"></script>
<!--幻灯文件开始-->
<link rel="stylesheet" type="text/css" href="http://www.youdoteam.com/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="http://www.youdoteam.com/css/style.css">

</head>
<body>
<div class="content">
<!--logo开始-->
<a class="logo logofull1 logofull2 logoed" id="logo" href="/" title="有度"></a>
<!--logo介绍-->
<!--导航开始-->
<nav class="global-nav">
  <div class="global-nav-inner global-nav-innerin" id="opcin1">

    <h3 class="global-nav-title clearfix"> 
     
      <a class="global-nav-initializer white" id="nav" href="javascript:void(0)">
        <span class="line top"></span>
        <span class="line mid"></span>
        <span class="line bottom"></span>
      </a>
    </h3>
<ul class="global-nav-ul" id="menu-%e4%b8%bb%e8%8f%9c%e5%8d%95">
<li class="global-nav-item" id="menu-item-51"><a href="/" title="首页" class="global-nav-link">首页</a></li>
<li class="global-nav-item" id="menu-item-55"><a href="/a/1.aspx" title="大数据" class="global-nav-link">大数据</a></li>
<li class="global-nav-item" id="menu-item-60"><a href="/a/2.aspx" class="global-nav-link" title="可视化">可视化</a></li>
<li class="global-nav-item" id="menu-item-52"><a href="/a/3.aspx" class="global-nav-link" title="有度模拟法庭">有度模拟法庭</a></li>
<li class="global-nav-item" id="menu-item-53"><a href="/a/4.aspx" class="global-nav-link" title="案件流程化管理">案件流程化管理</a></li>
<li class="global-nav-item" id="menu-item-54"><a href="/a/5.aspx" class="global-nav-link" title="有度案例">有度案例</a></li>
<li class="global-nav-item" id="menu-item-50"><a href="/a/6.aspx" class="global-nav-link" title="关于有度">关于有度</a></li>

<li class="global-nav-item weixin"><div class="weixin-qrcode"></div></li></ul>  </div>
  <div class="bg"></div>
</nav>

<script src="http://www.youdoteam.com/js/Pop.js" type="text/javascript"></script>
<script type="text/javascript" src="http://www.youdoteam.com/js/ckplayer.js" charset="utf-8"></script>
<style>
    .p2_top,.p2_ls {
     opacity:0.8;
     transition:all 0.3s ease-in-out
    }
    .p2_top:hover,.p2_ls:hover {
     opacity:1
    }


.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

video{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;

}


</style>
<!--导航结束-->

<!--首页banner开始-->
<div class="index_banner" id="banner" style="">

<div id="screenadjust" class="flexslider1">
   <ul class="slides">
  <video     autoplay loop>
  <source src="static/videos/test.mp4" type="video/mp4">
 
  Your browser does not support HTML5 video.
</video>
       
       
   </ul>
</div>
</div>











<!--首页banner结束-->
<!--第一块开始-->
<div class="main1title">
    <div class="en">ABOUT YOU DO</div>
    <div class="cn">有度商事诉讼团队</div>
</div>
<div class="main1">
    <div class="wrap">
       <div class="jj">
           我们要求每项工作的目标是做到极致，通过高效的团队协同，严谨的流程管理，控制，确保每个案件都滴水不漏。<br/> 从点滴到极致，我们乐此不疲，因为我们始终坚信，每个案件不仅是您的托付，也是我们的作品。
       </div>

        <ul>
    <li>
        <div class="tt1">客户至上</div>
        
    </li>
    <li>
        <div class="tt1">团队协作</div>
        
    </li>
    <li class="m-r-n">
        <div class="tt1">勇于创新</div>
        
    </li>
    
    <div class="clear"></div>
</ul>

    </div>
</div>
<!--第一块结束-->
<div class="clear"></div>
<!--第四块开始-->

<!--第四块结束-->
<div class="footer">
    <div class="wrap">
       <div class="lx">
        <div class="l">版权所有 © 新疆巨臣律师事务所有度商事诉讼团队 <br />新ICP备16003384号-1</div>
        <div class="c">电　话：0991-4182650转8021 <br />
传　真：0991-4182651</div>
        <div class="r">E-mail：youdoteam@163.com<br />
地　址：新疆维吾尔自治区乌鲁木齐市昆仑路122号</div>
       </div>
       <div class="clear"></div>
       <div class="logo-s"><img src="/images/logo-s.png" alt="" /></div>
    </div>
</div>




<script src="http://www.youdoteam.com/js/app.js" type="text/javascript"></script>

<!--幻灯文件开始-->



<!--幻灯文件开始-->

<script>window.jQuery || document.write('<script src="http://www.youdoteam.com/js/jquery-1.11.0.min.js"><\/script>')</script>
    <script type="text/javascript" src="http://www.youdoteam.com/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.flexslider').flexslider({
                directionNav: true,
                pauseOnAction: false
            });
        });
    </script>

<script>
  if(navigator.userAgent.indexOf("Safari") != -1)
    {
        alert('Safari');
    }
</script>






</body>
</html>
